<ul>
  <li>
    <%= render "/refinery/admin/search", :url => refinery.usermembers_admin_usermembers_path %>
  </li>
  <li>
    <%= link_to t(".create_new"), refinery.new_usermembers_admin_usermember_path,
                 :class => "add_icon" %>
  </li>
<% if @usermembers.many? && !searching? %>
  <li>
    <%= link_to t(".reorder_usermembers", what: "Usermembers"), refinery.usermembers_admin_usermembers_path,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t(".reorder_done", what: "Usermembers"), refinery.usermembers_admin_usermembers_path,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>
